[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
markdown = "*"
typogrify = "*"
"beautifulsoup4" = "*"
lxml = "*"
feedparser = "*"
pandoc = "*"
ghp-import = "*"
shovel = "*"
pip = "==18.0"
pelican-youtube = "*"

[dev-packages]

[requires]
python_version = "3.6"
